<a href="https://colab.research.google.com/github/mesinghaman/EDA_aman/blob/main/Module_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Module 2**

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv('/content/bank_marketing_test.csv')

**Reshaping with Hierarchical Indexing**

In [ ]:
data.head(10)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,41,blue-collar,married,unknown,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,25,services,single,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,35,blue-collar,married,basic.6y,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,46,blue-collar,married,basic.6y,unknown,yes,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
5,55,unknown,married,basic.4y,unknown,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
6,56,technician,married,basic.4y,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
7,40,blue-collar,married,basic.9y,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
8,45,blue-collar,married,basic.9y,no,yes,no,telephone,may,mon,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
9,53,admin.,single,professional.course,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

Reshaping with Hierarchical Indexing

In [ ]:
# Sample data
data = [
    [56, 'services', 'married', 'high.school', 'no', 'no', 'yes', 'telephone', 'may', 'mon', 1, 999, 0, 'nonexistent', 1.1, 93.994, -36.4, 4.857, 5191.0, 'no'],
    [41, 'blue-collar', 'married', 'unknown', 'unknown', 'no', 'no', 'telephone', 'may', 'mon', 1, 999, 0, 'nonexistent', 1.1, 93.994, -36.4, 4.857, 5191.0, 'no'],
    [25, 'services', 'single', 'high.school', 'no', 'yes', 'no', 'telephone', 'may', 'mon', 1, 999, 0, 'nonexistent', 1.1, 93.994, -36.4, 4.857, 5191.0, 'no'],
    [35, 'blue-collar', 'married', 'basic.6y', 'no', 'yes', 'no', 'telephone', 'may', 'mon', 1, 999, 0, 'nonexistent', 1.1, 93.994, -36.4, 4.857, 5191.0, 'no'],
    [46, 'blue-collar', 'married', 'basic.6y', 'unknown', 'yes', 'yes', 'telephone', 'may', 'mon', 1, 999, 0, 'nonexistent', 1.1, 93.994, -36.4, 4.857, 5191.0, 'no'],
    [55, 'unknown', 'married', 'basic.4y', 'unknown', 'yes', 'no', 'telephone', 'may', 'mon', 1, 999, 0, 'nonexistent', 1.1, 93.994, -36.4, 4.857, 5191.0, 'no'],
    [56, 'technician', 'married', 'basic.4y', 'no', 'yes', 'no', 'telephone', 'may', 'mon', 1, 999, 0, 'nonexistent', 1.1, 93.994, -36.4, 4.857, 5191.0, 'no'],
    [40, 'blue-collar', 'married', 'basic.9y', 'no', 'no', 'yes', 'telephone', 'may', 'mon', 1, 999, 0, 'nonexistent', 1.1, 93.994, -36.4, 4.857, 5191.0, 'no'],
    [45, 'blue-collar', 'married', 'basic.9y', 'no', 'yes', 'no', 'telephone', 'may', 'mon', 2, 999, 0, 'nonexistent', 1.1, 93.994, -36.4, 4.857, 5191.0, 'no'],
    [53, 'admin.', 'single', 'professional.course', 'no', 'no', 'no', 'telephone', 'may', 'mon', 1, 999, 0, 'nonexistent', 1.1, 93.994, -36.4, 4.857, 5191.0, 'no']
]

# Column names
columns = [
    'age', 'job', 'marital', 'education', 'default', 'housing', 'loan', 'contact',
    'month', 'day_of_week', 'campaign', 'pdays', 'previous', 'poutcome',
    'emp.var.rate', 'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed', 'y'
]

# Create the DataFrame
dframe2 = pd.DataFrame(data, columns=columns)

# Display the DataFrame
dframe2

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,services,married,high.school,no,no,yes,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,41,blue-collar,married,unknown,unknown,no,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,25,services,single,high.school,no,yes,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,35,blue-collar,married,basic.6y,no,yes,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,46,blue-collar,married,basic.6y,unknown,yes,yes,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
5,55,unknown,married,basic.4y,unknown,yes,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
6,56,technician,married,basic.4y,no,yes,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
7,40,blue-collar,married,basic.9y,no,no,yes,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
8,45,blue-collar,married,basic.9y,no,yes,no,telephone,may,mon,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
9,53,admin.,single,professional.course,no,no,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [ ]:
# Stack the columns of dframe2
stacked = dframe2.stack()

# Display the stacked result
stacked

0  age                        56
   job                  services
   marital               married
   education         high.school
   default                    no
                        ...
9  cons.price.idx         93.994
   cons.conf.idx           -36.4
   euribor3m               4.857
   nr.employed            5191.0
   y                          no
Length: 200, dtype: object

In [ ]:
# First, stack the DataFrame
stacked = dframe2.stack()

# Then, unstack it back to its original format
unstacked = stacked.unstack()

# Display the unstacked result
unstacked

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,services,married,high.school,no,no,yes,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,41,blue-collar,married,unknown,unknown,no,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,25,services,single,high.school,no,yes,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,35,blue-collar,married,basic.6y,no,yes,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,46,blue-collar,married,basic.6y,unknown,yes,yes,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
5,55,unknown,married,basic.4y,unknown,yes,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
6,56,technician,married,basic.4y,no,yes,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
7,40,blue-collar,married,basic.9y,no,no,yes,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
8,45,blue-collar,married,basic.9y,no,yes,no,telephone,may,mon,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
9,53,admin.,single,professional.course,no,no,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [ ]:

# Let's take the first 5 rows as one series and the remaining rows as another series for demonstration
series1 = dframe2.iloc[:5].stack()
series2 = dframe2.iloc[5:].stack()

# Concatenate the two series with keys
frame2 = pd.concat([series1, series2], keys=['Part1', 'Part2'])

# Unstack to pivot one of the index levels back into columns
unstacked_frame = frame2.unstack()

# Display the unstacked result
unstacked_frame

        age          job  marital            education  default housing loan  \
Part1 0  56     services  married          high.school       no      no  yes
      1  41  blue-collar  married              unknown  unknown      no   no
      2  25     services   single          high.school       no     yes   no
      3  35  blue-collar  married             basic.6y       no     yes   no
      4  46  blue-collar  married             basic.6y  unknown     yes  yes
Part2 5  55      unknown  married             basic.4y  unknown     yes   no
      6  56   technician  married             basic.4y       no     yes   no
      7  40  blue-collar  married             basic.9y       no      no  yes
      8  45  blue-collar  married             basic.9y       no     yes   no
      9  53       admin.   single  professional.course       no      no   no

           contact month day_of_week campaign pdays previous     poutcome  \
Part1 0  telephone   may         mon        1   999        0  nonexistent
      1  telephone   may         mon        1   999        0  nonexistent
      2  telephone   may         mon        1   999        0  nonexistent
      3  telephone   may         mon        1   999        0  nonexistent
      4  telephone   may         mon        1   999        0  nonexistent
Part2 5  telephone   may         mon        1   999        0  nonexistent
      6  telephone   may         mon        1   999        0  nonexistent
      7  telephone   may         mon        1   999        0  nonexistent
      8  telephone   may         mon        2   999        0  nonexistent
      9  telephone   may         mon        1   999        0  nonexistent

        emp.var.rate cons.price.idx cons.conf.idx euribor3m nr.employed   y
Part1 0          1.1         93.994         -36.4     4.857      5191.0  no
      1          1.1         93.994         -36.4     4.857      5191.0  no
      2          1.1         93.994         -36.4     4.857      5191.0  no
      3          1.1         93.994         -36.4     4.857      5191.0  no
      4          1.1         93.994         -36.4     4.857      5191.0  no
Part2 5          1.1         93.994         -36.4     4.857      5191.0  no
      6          1.1         93.994         -36.4     4.857      5191.0  no
      7          1.1         93.994         -36.4     4.857      5191.0  no
      8          1.1         93.994         -36.4     4.857      5191.0  no
      9          1.1         93.994         -36.4     4.857      5191.0  no

**Transformation techniques**

In [ ]:
# Sample data similar to frame3 with repetitions
data = {
    'job': ['services'] * 3 + ['blue-collar'] * 4,
    'marital': ['married'] * 3 + ['married'] * 4,
    'age': [56, 56, 56, 41, 41, 25, 35]
}

# Create the DataFrame
frame3 = pd.DataFrame(data)

# Display the original DataFrame
print("Original DataFrame:")
print(frame3)

# Perform data deduplication
deduplicated_frame = frame3.drop_duplicates()

# Display the deduplicated DataFrame
print("\nDeduplicated DataFrame:")
print(deduplicated_frame)

Original DataFrame:
           job  marital  age
0     services  married   56
1     services  married   56
2     services  married   56
3  blue-collar  married   41
4  blue-collar  married   41
5  blue-collar  married   25
6  blue-collar  married   35

Deduplicated DataFrame:
           job  marital  age
0     services  married   56
3  blue-collar  married   41
5  blue-collar  married   25
6  blue-collar  married   35

**Replacing values**

In [ ]:
dframe2 = pd.DataFrame({
    'age': [56, 41, 25, 35, 46, 55, 56, 40, 45, 53],
    'job': ['services', 'blue-collar', 'services', 'blue-collar', 'blue-collar', 'unknown', 'technician', 'blue-collar', 'blue-collar', 'admin.'],
    'marital': ['married', 'married', 'single', 'married', 'married', 'married', 'married', 'married', 'married', 'single'],
    # Add other columns as needed
})

# Display the original DataFrame
print("Original DataFrame:")
print(dframe2)

# Example: Replace specific values (you can modify according to your dataset's actual values)
# Let's say we want to replace some arbitrary values for demonstration
# Replace 'unknown' with NaN and 'blue-collar' with 'worker'
dframe2_replaced = dframe2.replace(to_replace=['unknown', 'blue-collar'], value=[np.nan, 'worker'])

# Display the modified DataFrame
print("\nDataFrame after replacing values:")
print(dframe2_replaced)

Original DataFrame:
   age          job  marital
0   56     services  married
1   41  blue-collar  married
2   25     services   single
3   35  blue-collar  married
4   46  blue-collar  married
5   55      unknown  married
6   56   technician  married
7   40  blue-collar  married
8   45  blue-collar  married
9   53       admin.   single

DataFrame after replacing values:
   age         job  marital
0   56    services  married
1   41      worker  married
2   25    services   single
3   35      worker  married
4   46      worker  married
5   55         NaN  married
6   56  technician  married
7   40      worker  married
8   45      worker  married
9   53      admin.   single

**3. Handling missing data**

In [ ]:
# Assuming your dataset is loaded into dframe2
# For demonstration, let's create a sample similar to your dataset structure
dframe2 = pd.DataFrame({
    'age': [56, 41, 25, np.nan, 46, 55, np.nan, 40, 45, 53],
    'job': ['services', 'blue-collar', 'services', 'blue-collar', 'unknown', 'unknown', 'technician', 'blue-collar', 'blue-collar', 'admin.'],
    'marital': ['married', 'married', 'single', 'married', 'married', 'married', 'married', 'married', 'married', 'single'],
    'education': ['high.school', 'unknown', 'high.school', 'basic.6y', 'basic.6y', 'basic.4y', 'basic.4y', 'basic.9y', 'basic.9y', 'professional.course'],
    # Add other columns as needed
})

# Display the original DataFrame
print("Original DataFrame:")
print(dframe2)

# 1. Check for missing values
print("\nMissing values (isnull):")
print(dframe2.isnull())

# 2. Check for non-null values
print("\nNon-null values (notnull):")
print(dframe2.notnull())

# 3. Count the number of NaN values in each column
print("\nCount of NaN values in each column:")
print(dframe2.isnull().sum())

# 4. Total number of missing values in the DataFrame
total_missing = dframe2.isnull().sum().sum()
print("\nTotal number of missing values:")
print(total_missing)

# 5. Count the number of reported (non-missing) values in each column
print("\nCount of reported values in each column:")
print(dframe2.count())

Original DataFrame:
    age          job  marital            education
0  56.0     services  married          high.school
1  41.0  blue-collar  married              unknown
2  25.0     services   single          high.school
3   NaN  blue-collar  married             basic.6y
4  46.0      unknown  married             basic.6y
5  55.0      unknown  married             basic.4y
6   NaN   technician  married             basic.4y
7  40.0  blue-collar  married             basic.9y
8  45.0  blue-collar  married             basic.9y
9  53.0       admin.   single  professional.course

Missing values (isnull):
     age    job  marital  education
0  False  False    False      False
1  False  False    False      False
2  False  False    False      False
3   True  False    False      False
4  False  False    False      False
5  False  False    False      False
6   True  False    False      False
7  False  False    False      False
8  False  False    False      False
9  False  False    False      False

Non-null values (notnull):
     age   job  marital  education
0   True  True     True       True
1   True  True     True       True
2   True  True     True       True
3  False  True     True       True
4   True  True     True       True
5   True  True     True       True
6  False  True     True       True
7   True  True     True       True
8   True  True     True       True
9   True  True     True       True

Count of NaN values in each column:
age          2
job          0
marital      0
education    0
dtype: int64

Total number of missing values:
2

Count of reported values in each column:
age           8
job          10
marital      10
education    10
dtype: int64

**4. Dropping missing values**

In [ ]:
dframe2 = pd.DataFrame({
    'age': [56, 41, 25, np.nan, 46, 55, np.nan, 40, 45, 53],
    'job': ['services', 'blue-collar', 'services', 'blue-collar', 'unknown', 'unknown', 'technician', 'blue-collar', 'blue-collar', 'admin.'],
    'marital': ['married', 'married', 'single', 'married', 'married', 'married', 'married', 'married', 'married', 'single'],
    'education': ['high.school', 'unknown', 'high.school', 'basic.6y', 'basic.6y', 'basic.4y', 'basic.4y', 'basic.9y', 'basic.9y', 'professional.course'],
})

# Display the original DataFrame
print("Original DataFrame:")
print(dframe2)

# Dropping missing values from a specific column (for example, 'age')
print("\nDropping NaN values in 'age' column:")
print(dframe2['age'].dropna())

# Drop rows with any NaN values
print("\nDataFrame after dropping any rows with NaN values:")
print(dframe2.dropna())

# Drop rows where all values are NaN (not applicable here, but shown for completeness)
print("\nDropping rows where all values are NaN:")
print(dframe2.dropna(how='all'))

# Drop columns where all values are NaN
print("\nDropping columns where all values are NaN:")
print(dframe2.dropna(how='all', axis=1))

# Assuming you want to specify a minimum number of non-NaN values to keep a column
print("\nDropping columns with less than 8 non-NaN values:")
print(dframe2.dropna(thresh=8, axis=1))

# Creating a Series for mathematical operations
ser2 = dframe2['age']  # Example: using 'age' for calculations

# Compute the total
total_age = ser2.sum()
print("\nTotal of ages (ignoring NaN):")
print(total_age)

# Compute the average
average_age = ser2.mean()
print("\nAverage age (ignoring NaN):")
print(average_age)

# Cumulative sum
cumulative_age = ser2.cumsum()
print("\nCumulative sum of ages:")
print(cumulative_age)

Original DataFrame:
    age          job  marital            education
0  56.0     services  married          high.school
1  41.0  blue-collar  married              unknown
2  25.0     services   single          high.school
3   NaN  blue-collar  married             basic.6y
4  46.0      unknown  married             basic.6y
5  55.0      unknown  married             basic.4y
6   NaN   technician  married             basic.4y
7  40.0  blue-collar  married             basic.9y
8  45.0  blue-collar  married             basic.9y
9  53.0       admin.   single  professional.course

Dropping NaN values in 'age' column:
0    56.0
1    41.0
2    25.0
4    46.0
5    55.0
7    40.0
8    45.0
9    53.0
Name: age, dtype: float64

DataFrame after dropping any rows with NaN values:
    age          job  marital            education
0  56.0     services  married          high.school
1  41.0  blue-collar  married              unknown
2  25.0     services   single          high.school
4  46.0      unknown  married             basic.6y
5  55.0      unknown  married             basic.4y
7  40.0  blue-collar  married             basic.9y
8  45.0  blue-collar  married             basic.9y
9  53.0       admin.   single  professional.course

Dropping rows where all values are NaN:
    age          job  marital            education
0  56.0     services  married          high.school
1  41.0  blue-collar  married              unknown
2  25.0     services   single          high.school
3   NaN  blue-collar  married             basic.6y
4  46.0      unknown  married             basic.6y
5  55.0      unknown  married             basic.4y
6   NaN   technician  married             basic.4y
7  40.0  blue-collar  married             basic.9y
8  45.0  blue-collar  married             basic.9y
9  53.0       admin.   single  professional.course

Dropping columns where all values are NaN:
    age          job  marital            education
0  56.0     services  married          high.school
1  41.0  blue-collar  married              unknown
2  25.0     services   single          high.school
3   NaN  blue-collar  married             basic.6y
4  46.0      unknown  married             basic.6y
5  55.0      unknown  married             basic.4y
6   NaN   technician  married             basic.4y
7  40.0  blue-collar  married             basic.9y
8  45.0  blue-collar  married             basic.9y
9  53.0       admin.   single  professional.course

Dropping columns with less than 8 non-NaN values:
    age          job  marital            education
0  56.0     services  married          high.school
1  41.0  blue-collar  married              unknown
2  25.0     services   single          high.school
3   NaN  blue-collar  married             basic.6y
4  46.0      unknown  married             basic.6y
5  55.0      unknown  married             basic.4y
6   NaN   technician  married             basic.4y
7  40.0  blue-collar  married             basic.9y
8  45.0  blue-collar  married             basic.9y
9  53.0       admin.   single  professional.course

Total of ages (ignoring NaN):
361.0

Average age (ignoring NaN):
45.125

Cumulative sum of ages:
0     56.0
1     97.0
2    122.0
3      NaN
4    168.0
5    223.0
6      NaN
7    263.0
8    308.0
9    361.0
Name: age, dtype: float64

**Discretization and binning**

In [ ]:
#To convert the preceding dataset into intervals, we can use the cut() method from pandas
data = {
    'age': [56, 41, 25, 35, 46, 55, 56, 40, 45, 53],
    'job': ['services', 'blue-collar', 'services', 'blue-collar', 'blue-collar', 'unknown', 'technician', 'blue-collar', 'blue-collar', 'admin.'],
    'marital': ['married', 'married', 'single', 'married', 'married', 'married', 'married', 'married', 'married', 'single'],
    'education': ['high.school', 'unknown', 'high.school', 'basic.6y', 'basic.6y', 'basic.4y', 'basic.4y', 'basic.9y', 'basic.9y', 'professional.course'],
    'default': ['no', 'no', 'no', 'no', 'unknown', 'unknown', 'no', 'no', 'no', 'no'],
    'housing': ['no', 'no', 'yes', 'yes', 'yes', 'yes', 'yes', 'no', 'yes', 'no'],
    'loan': ['yes', 'no', 'no', 'no', 'yes', 'no', 'no', 'yes', 'no', 'no'],
    'contact': ['telephone'] * 10,
    'month': ['may'] * 10,
    'day_of_week': ['mon'] * 10,
    'campaign': [1] * 10,
    'pdays': [999] * 10,
    'previous': [0] * 10,
    'poutcome': ['nonexistent'] * 10,
    'emp.var.rate': [1.1] * 10,
    'cons.price.idx': [93.994] * 10,
    'cons.conf.idx': [-36.4] * 10,
    'euribor3m': [4.857] * 10,
    'nr.employed': [5191.0] * 10,
    'y': ['no'] * 10
}

# Create DataFrame
dfx = pd.DataFrame(data)

# Define the bins and labels
bins = [0, 30, 40, 50, 60, 100]
labels = ['0-30', '31-40', '41-50', '51-60', '61+']

# Create a new column 'age_group' by cutting the 'age' column
dfx['age_group'] = pd.cut(dfx['age'], bins=bins, labels=labels, right=False)

# Display the DataFrame with the new age_group column
print(dfx)

   age          job  marital            education  default housing loan  \
0   56     services  married          high.school       no      no  yes
1   41  blue-collar  married              unknown       no      no   no
2   25     services   single          high.school       no     yes   no
3   35  blue-collar  married             basic.6y       no     yes   no
4   46  blue-collar  married             basic.6y  unknown     yes  yes
5   55      unknown  married             basic.4y  unknown     yes   no
6   56   technician  married             basic.4y       no     yes   no
7   40  blue-collar  married             basic.9y       no      no  yes
8   45  blue-collar  married             basic.9y       no     yes   no
9   53       admin.   single  professional.course       no      no   no

     contact month day_of_week  ...  pdays  previous     poutcome  \
0  telephone   may         mon  ...    999         0  nonexistent
1  telephone   may         mon  ...    999         0  nonexistent
2  telephone   may         mon  ...    999         0  nonexistent
3  telephone   may         mon  ...    999         0  nonexistent
4  telephone   may         mon  ...    999         0  nonexistent
5  telephone   may         mon  ...    999         0  nonexistent
6  telephone   may         mon  ...    999         0  nonexistent
7  telephone   may         mon  ...    999         0  nonexistent
8  telephone   may         mon  ...    999         0  nonexistent
9  telephone   may         mon  ...    999         0  nonexistent

  emp.var.rate  cons.price.idx  cons.conf.idx  euribor3m  nr.employed   y  \
0          1.1          93.994          -36.4      4.857       5191.0  no
1          1.1          93.994          -36.4      4.857       5191.0  no
2          1.1          93.994          -36.4      4.857       5191.0  no
3          1.1          93.994          -36.4      4.857       5191.0  no
4          1.1          93.994          -36.4      4.857       5191.0  no
5          1.1          93.994          -36.4      4.857       5191.0  no
6          1.1          93.994          -36.4      4.857       5191.0  no
7          1.1          93.994          -36.4      4.857       5191.0  no
8          1.1          93.994          -36.4      4.857       5191.0  no
9          1.1          93.994          -36.4      4.857       5191.0  no

  age_group
0     51-60
1     41-50
2      0-30
3     31-40
4     41-50
5     51-60
6     51-60
7     41-50
8     41-50
9     51-60

[10 rows x 21 columns]

In [ ]:
#We can check the number of values in each bin by using the pd.value_counts() method
# Create DataFrame
dfx = pd.DataFrame(data)

# Define the bins and labels
bins = [0, 30, 40, 50, 60, 100]
labels = ['0-30', '31-40', '41-50', '51-60', '61+']

# Create a new column 'age_group' by cutting the 'age' column
dfx['age_group'] = pd.cut(dfx['age'], bins=bins, labels=labels, right=False)

# Check the number of values in each bin
value_counts = pd.value_counts(dfx['age_group'])
print(value_counts)

age_group
41-50    4
51-60    4
0-30     1
31-40    1
61+      0
Name: count, dtype: int64

<ipython-input-22-55ae201015f6>:13: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  value_counts = pd.value_counts(dfx['age_group'])

In [ ]:
#We can also indicate the bin names by passing a list of labels
# Create DataFrame
dfx = pd.DataFrame(data)

# Define the bins and custom labels
bins = [0, 30, 40, 50, 60, 100]
bin_names = ['Youth', 'Young Adult', 'Middle Age', 'Senior', 'Elderly']

# Create a new column 'age_group' by cutting the 'age' column with custom labels
dfx['age_group'] = pd.cut(dfx['age'], bins=bins, labels=bin_names, right=False)

# Check the number of values in each bin
value_counts = pd.value_counts(dfx['age_group'])
print(value_counts)

age_group
Middle Age     4
Senior         4
Youth          1
Young Adult    1
Elderly        0
Name: count, dtype: int64

<ipython-input-23-f0ad94b44017>:13: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  value_counts = pd.value_counts(dfx['age_group'])

In [ ]:
#it is essential to note that if we pass just an integer for our bins, it will compute equal-length bins based on the minimum and maximum values in the data.
# Create DataFrame
dfx = pd.DataFrame(data)

# Generate 40 random numbers between 0 and 1
random_scores = np.random.rand(40)

# Add the random scores to the DataFrame
dfx['random_score'] = np.random.choice(random_scores, size=len(dfx))

# Create equal-length bins (5 bins in this case)
bins = pd.cut(dfx['random_score'], 5, precision=2)

# Check the count of values in each bin
value_counts = pd.value_counts(bins)
print(value_counts)

random_score
(0.35, 0.51]    3
(0.66, 0.82]    3
(0.82, 0.97]    3
(0.2, 0.35]     1
(0.51, 0.66]    0
Name: count, dtype: int64

<ipython-input-25-a667ed8172b9>:15: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  value_counts = pd.value_counts(bins)

In [ ]:
  #Pandas provides a qcut method that forms the bins based on sample quantiles
dfx = pd.DataFrame(data)

# Generate 2000 random numbers between 0 and 1
randomNumbers = np.random.rand(2000)

# Add the random numbers to the DataFrame as a new column
dfx['random_score'] = np.random.choice(randomNumbers, size=len(dfx))

# Use qcut to create quartiles
category3 = pd.qcut(dfx['random_score'], 4, labels=['Q1', 'Q2', 'Q3', 'Q4'])

# Add the quartile categories to the DataFrame
dfx['quartile'] = category3

# Display the DataFrame with the new quartile column
print(dfx[['random_score', 'quartile']])

   random_score quartile
0      0.413743       Q3
1      0.589470       Q4
2      0.079377       Q1
3      0.286729       Q2
4      0.891629       Q4
5      0.280789       Q2
6      0.308980       Q3
7      0.272015       Q1
8      0.272529       Q1
9      0.449863       Q4

In [ ]:
#Based on the number of bins, which we set to 4, it converted our data into four different categories.
dfx = pd.DataFrame(data)

# Generate 2000 random numbers between 0 and 1
randomNumbers = np.random.rand(2000)

# Add the random numbers to the DataFrame as a new column
dfx['random_score'] = np.random.choice(randomNumbers, size=len(dfx))

# Use qcut to create quartiles
category3 = pd.qcut(dfx['random_score'], 4, labels=['Q1', 'Q2', 'Q3', 'Q4'])

# Add the quartile categories to the DataFrame
dfx['quartile'] = category3

# Count the number of values in each category
category_counts = pd.value_counts(category3)

# Display the counts of each category
print(category_counts)

random_score
Q1    3
Q4    3
Q2    2
Q3    2
Name: count, dtype: int64

<ipython-input-27-93f1d67d9c04>:17: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  category_counts = pd.value_counts(category3)

**Outlier detection and filtering**

In [ ]:
#suppose we want to calculate the total price based on the quantity sold and the unit price.
data = {
    'age': [56, 41, 25, 35, 46, 55, 56, 40, 45, 53],
    'pdays': [999] * 10,
    'UnitPrice': [10.0] * 10,  # Example unit price
    'Quantity': [1] * 10        # Example quantity
}

df = pd.DataFrame(data)

# Calculate TotalPrice
df['TotalPrice'] = df['UnitPrice'] * df['Quantity']

# Display the DataFrame
df

   age  pdays  UnitPrice  Quantity  TotalPrice
0   56    999       10.0         1        10.0
1   41    999       10.0         1        10.0
2   25    999       10.0         1        10.0
3   35    999       10.0         1        10.0
4   46    999       10.0         1        10.0
5   55    999       10.0         1        10.0
6   56    999       10.0         1        10.0
7   40    999       10.0         1        10.0
8   45    999       10.0         1        10.0
9   53    999       10.0         1        10.0

In [ ]:
df = pd.DataFrame(data)

# Add a TotalPrice column with some placeholder values (you can adjust this as needed)
df['TotalPrice'] = np.random.rand(10) * 5000000  # Random values between 0 and 5,000,000

# Find transactions that exceed 3,000,000
exceeding_transactions = df[df['TotalPrice'] > 3000000]

# Display the transactions that exceeded 3,000,000
exceeding_transactions

   age  pdays  UnitPrice  Quantity    TotalPrice
2   25    999       10.0         1  3.132481e+06
3   35    999       10.0         1  4.909363e+06
5   55    999       10.0         1  3.541794e+06
9   53    999       10.0         1  3.449816e+06